*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    background-color:black;
    color:rgb(255 255 255 /0.7);
    padding:30px 100px;
    font-size:20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top:100px;
}
.input-case{
    display: flex;
    gap: 10px;
    padding-top:20px;
}
.done {
    text-decoration: line-through;
    color: gray;
}


button{
    padding: 8px 10px;
    background-color: #1f6feb;
    color: white;
    border-block: white;
    cursor: pointer;
    border-radius: 5px;
}

ul{
    list-style: none;
    padding:0;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
}